.nav-list {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-list-item {
    display: inline-block;
    margin-right: 8px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 0;
        background: transparent;
        transition: width 0.3s ease, background-color 0.3s ease;
    }

    &.active::after {
        width: 100%;
        background-color: var(--color-active);
    }

    & a {
        color: var(--color-primary);
    }

    &.active a,
    & a:hover {
        color: var(--color-active);
    }
}
