.search {
    position: relative;
    display: block;
    height: 100%;
}

.glowinput {
    margin: 0px;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.search__input {
    text-align: center;
    height: 3em;
    width: 100%;
    font-size: 24px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: white;
    caret-color: white;
    background-color: rgba(236, 240, 241, 0.1);
    font-family: 'Courier New', Courier, monospace;
}

.search__input::placeholder {
    color: white;
    opacity: .5;
}